<!--
  ~ Copyright 2018 Royal Bank of Scotland
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<template id="app-console-template">
  <link rel="stylesheet" href="../style.css">
  <div class="widget">
    <label for="console">Console</label>
    <textarea class="output" readonly id="console"></textarea>
    <button id="clear-console">clear</button>
  </div>
  <style>
    .output {
      width: 100%;
      height: 30em;
      flex: 1;
      resize: none;
      border: none;
      font-family: monospace;
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
  </style>
</template>

<script>
  const INFO = '[INFO ]';
  const WARN = '[WARN ]';
  const ERROR = '[ERROR]';

  (function() {
    class AppConsole extends SimpleComponent {
      constructor() {
        super('app-console-template');
      }

      connectedCallback() {
        const thisObj = this;
        this.$('#clear-console').onclick = () => thisObj._onClearConsole();
      }

      disconnectedCallback() {
        this.$('#clear-console').onclick = null;
      }

      _onClearConsole() {
        this.$('#console').value = "";
      }

      log() {
        this.logAtLevel(INFO, this._foldArguments(arguments));
      }

      info() {
        this.log(...arguments)
      }

      error() {
        this.logAtLevel(ERROR, this._foldArguments(arguments));
      }

      warn() {
        this.logAtLevel(WARN, this._foldArguments(arguments));
      }

      logAtLevel(level, line) {
        const now = new Date()
        const time = now.toLocaleTimeString() + ':' + ('00' + now.getMilliseconds()).slice(-3);
        line = level + ' ' + time + ' - ' + line;

        const output = this.$('#console');

        output.value = output.value + '\n' + line;

        output.scrollTop = output.scrollHeight;
      }

      _foldArguments(args) {
        let arr = [];
        for (let idx in args) {
          let arg = args[idx];
          if (typeof arg === 'object') {
            arg = JSON.stringify(arg, null, ' ');
          }
          arr[idx] = "" + arg;
        }

        const line = arr.reduce((acc, current) => acc + current + ' ', '');
        return line;
      }
    }


    window.customElements.define('app-console', AppConsole);
  })();

</script>